* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: serif;
	font-size: 14px;
	line-height: 1.7em;
	font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif;
}
image{
	max-width: 100%;
	height:auto;
}
a,a:hover{
	text-decoration: none;
}
.container {
	width: 1040px;
	margin: 0px auto;
}
.row{
	width: 100%;
	float: left;
}
.col-6{
	width: 50%;
    float: left;
}
.col-12{
	width: 100%;
    float: left;
}
.col-4{
	width: 33.33%;
    float: left;
}
.header{
	width:100%;
	float: left;
	padding: 10px 0px;
    border-bottom: 1px solid gray;
    color: #0f2656;
}
.header .navbar{
	width: 100%;
	display: block;
	text-align: right;
}
.header .navbar li{
	list-style: none;
	display: inline-block;
}
.header .navbar li a{
	display:block;
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	margin: 10px 0px 0px 20px;

}
.banner {
	width: 100%;
	float: left;
	padding: 80px 0px 0px 20px;
	text-align:center;
}
.banner h1{
	font-size: 50px;
	line-height: 1.4em;
	color: #0f2656;
    font-weight: 700;
    margin: 0px 0px 10px;
}
.banner h1 span{
	color: #008AFF;
	
}
.banner p{
	font-size: 14px;
	line-height: 1.7em;
	color: #0f2656;
	font-weight: 400;
	margin: 0px 0px 20px;
}
.banner .banner-img{
	width: 70%;
}
.successful{
	width: 100%;
	float: left;
	padding: 40px 0px 30px;
}
.successful .left-box{
	width: 100%;
	float: left;
	text-align: right;
}
.successful .left-box h1{
	font-size: 50px;
	line-height: 1.2em;
	color: red;
    font-weight: 700;
    margin: 0px 15px 5px 0px;
}
.successful .left-box p{
	font-size: 14px;
	line-height: 1.7em;
	color: #0f2656;
	font-weight: 400;
	margin: 0px 15px 5px 0px;

}
.successful .right-box{
	width: 100%;
	float: left;
}
.successful .right-box h1{
	font-size: 50px;
	line-height: 1.2em;
	color:#0f2656 ;
    font-weight: 700;
    margin: 0px 15px 5px 0px;
}
.features{
	width: 100%;
	float: left;
	padding: 40px 0px;
	

}
.features .container .row .col-4 .inner-feature{
	width: 75%;
	padding: 50px 30px;
	margin: 0px 30px;
	
}
.features .container .row .col-4 .inner-feature:hover{
	background: gold;
}
.features .container .row .col-4 .inner-feature img{
	width: 100%;
	height: 200px;
    margin: 0px 0px 10px;
}
.features .container .row .col-4 .inner-feature h4{
	font-size: 20px;
	line-height: 1.4em;
	color:#0f2656 ;
    font-weight: 700;
    margin: 0px 0px 10px;
}
.features .container .row .col-4 .inner-feature p{
	font-size: 14px;
	line-height: 1.7em;
	color: #0f2656;
	font-weight: 400;
}
.cl1{
    background: #FDEBED;
}
.cl2{
    background: #EBF9F4;	
}
.cl3{
    background: #FFF7E8;	
}
.footer{
	width: 100%;
	float: left;
	padding: 20px 0px;
	background: #008AFF;
}
.footer p{
	font-size: 14px;
	line-height: 1.7em;
	color: #f0f0f0;
	font-weight: 400;
	text-align: center;
}
.footer p a{
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
}
.footer p a:hover{
    color: red;

}
.footer p a:hover{
	color: red;

}
